In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from wordcloud import WordCloud
import seaborn as sns
import plotly.express as px

# Load data
df = pd.read_csv("tennessee_all_cities.csv")

In [4]:
len(df[df.city == "Nashville"])

200

In [6]:
df.head()

,name,rating,review_count,price,latitude,longitude,address,city,state,categories
0,888,4.5,138,NaN,36.155822,-86.780532,"800 Clark Pl, Nashville, TN 37203",Nashville,TN,"Japanese, Sushi Bars, Music Venues"
1,The Twelve Thirty Club,4.3,1215,NaN,36.160473,-86.779066,"550 Broadway, Nashville, TN 37203",Nashville,TN,"Cocktail Bars, American"
2,The Stillery,4.4,3682,$$,36.162260,-86.775701,"113 2nd Ave N, Nashville, TN 37201",Nashville,TN,"New American, Bars"
3,The Finch,4.6,316,NaN,36.156633,-86.783914,"111 10th Ave S, Ste 310, Nashville, TN 37203",Nashville,TN,American
4,Postino 12 South,4.2,77,NaN,36.126617,-86.789483,"2317 12th Ave S, Nashville, TN 37204",Nashville,TN,"Wine Bars, Cocktail Bars, New American"